@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #00000;
  --background-hex: #ffffff;
  --header-height: 80px;
  --footer-height: 300px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-hex: #000000;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

/* header {
  height: var(--header-height);
} */

main {
  margin-bottom: var(--footer-height);
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero-height-helper {
  margin-top: calc(-1 * var(--header-height));
}

footer {
  height: var(--footer-height);
}
