@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #00000;
  --background-hex: #ffffff;
  --footer-height: 350px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-hex: #000000;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
